{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {% for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            {{ show.show_id }}
            <img src="{{ show.venue_image_link }}" alt="Venue Image" />
            <h4>{{ show.start_time|datetime('full') }}</h4>
            {% for artist in show.artists %}
            <h5><a href="/artists/{{artist.id }}">{{ artist.name }}</a></h5>
            {% endfor %}
            <p>playing at</p>
            <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}