{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/venues/create">
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        <span id="error_name"></span>
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
          <span id="error_city"></span>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
        <span id="error_address"></span>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
        <span id="error_genres"></span>
      </div>
      
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
          <span id="error_facebook_link"></span>
          {% if form.facebook_link.errors %}
            <span class="err">the given URL is invalid. please try it <b>http://</b></span>
          {% endif %}
       </div>
      
       <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
       </div>

       <div class="form-group">
            <label for="website_link">Website Link</label>
            {{ form.website_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
       </div>

       <div class="form-group">
             <label for="seeking_talent">Looking for Talent</label>
             {{ form.seeking_talent(placeholder='Venue', autofocus = true) }}
       </div>

       <div class="form-group">
            <label for="seeking_description">Seeking Description</label>
            {{ form.seeking_description(class_ = 'form-control', placeholder='Description', autofocus = true) }}
       </div>
      <input type="submit" onclick="return validateVenue()" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
    {{ error }}
  </div>

<script>
    // traiter le formulaire d'envoi
var id_name = document.getElementById('name')
var error_name = document.getElementById('error_name')

var id_city = document.getElementById('city')
var error_city = document.getElementById('error_city')

var id_state = document.getElementById('state')
var error_state = document.getElementById('error_state')
var id_address = document.getElementById('address')
var error_address = document.getElementById('error_address')

var id_genres = document.getElementById('genres')
var error_genres = document.getElementById('error_genres')
var id_facebook = document.getElementById('facebook_link')
var error_facebook_link = document.getElementById('error_facebook_link')

// fonction controlant l'envoi du formulaire
function valChapmsText(champs, errClass) {
    if(champs.value == "") {
      errClass.innerHTML="*this fields is required.";
      champs.focus();
      errClass.classList.add('err');
      return false;
    } else {
      errClass.innerHTML="";
      errClass.classList.remove('err');
      return true;
    }
}


function validateVenue(){
  // body...
  if (valChapmsText(id_name, error_name)
    && valChapmsText(id_city, error_city)
    && valChapmsText(id_address, error_address)
	  && valChapmsText(id_facebook, error_facebook_link)
    && valChapmsText(id_genres, error_genres)
    ){
    return true;
  }
  else{
    return false;
  }
}
</script>
{% endblock %}
