{% extends 'layouts/main.html' %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new show</h3>
      <div class="form-group">
        <label for="artist_id">Artist ID</label>
        <small>ID can be found on the Artist's Page</small>
        {{ form1.artist_id(class_ = 'form-control', autofocus = true) }}
        <span id="err_artist_id"></span>
      </div>
      <input id="artist" name="artist_id" required="" type="text" value="" hidden>
      <div class="form-group">
        <label for="venue_id">Venue ID</label>
        <small>ID can be found on the Venue's Page</small>
        {{ form.venue_id(class_ = 'form-control', autofocus = true) }}
        <span id="err_venue_id"></span>
      </div>
      <div class="form-group">
          <label for="start_time">Start Time</label>
          {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM:SS', autofocus = true) }}
          <span id="err_start_time"></span>
          {% if form.start_time.errors %}
            <span class="err">*the date format is not correct. Please try it YYYY-MM-DD HH:MM:SS </span>
          {% endif %}
      </div>
        <input type="submit" onclick="return validateFormShow()" value="Create Venue" class="btn btn-primary btn-lg btn-block">
    </form>
    {{ form1.errors}}
  </div>

<script>
// fonction controlant l'envoi du formulaire
 var start_time = document.getElementById('start_time')
 var err_start_time = document.getElementById('err_start_time') 
 var artist_id = document.getElementById('artist_id')
 var err_artist_id = document.getElementById('err_artist_id')
 var venue_id = document.getElementById('venue_id')
 var err_venue_id = document.getElementById('err_venue_id')

 var err = document.getElementById('err')

// fonction qui verifie que les champs ne sont pas vide
function valChapmsText(champs, errClass) {
    if(champs.value == ""){
      errClass.innerHTML="*this field is required.";
      champs.focus();
      errClass.classList.add('err');
      return false;
    } 
    else {
      errClass.innerHTML="";
      errClass.classList.remove('err');
      return true;
    }
  }  
 // fonction qui verifie le format de  la date
 
function validateShow(){
    if (valChapmsText(start_time, err_start_time)
        && valChapmsText(artist_id, err_artist_id)
        && valChapmsText(venue_id, err_venue_id)
        && valChapmsText(start_time, err)){
      return true;
    }
    else{
      return false;
    }
  }
function validateFormShow() {
		var form1 = document.getElementById('artist_id');
		var form = document.getElementById('artist');
		form.value = form1.value
	    
	  return validateShow()
	}
</script>
{% endblock %}